
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categories {
    margin: 2% 1.5%;
    z-index: 9990;
}

.categories button {
    border: 2px solid #ddd;
    z-index: 9990;
    border-radius: 3px;
    min-width: 80px;
    min-height: 37px;
    padding: 10px;
    background-color: #fff;
    font-weight: 600;
    color: #ccc;
    outline: none;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    cursor: pointer;
}

.categories button:hover {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.categories button:focus {
    border: 2px solid #ff3434;
    color: #ff3434;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.subtitulo {
    text-align: center;
    font-weight: 700;
    color: #ff3434;
    margin-bottom: 40px;
    font-size: 40px;
}

/* .gallery {
    background: #8b8989;
} */

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.img-galeria:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
    color:#fff;
    font-size: 25px;
}